{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BODYDOMAIN</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/add_exercise.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <div class="topnav" id="myTopnav">
        {% block navbar_active %}
        <a href="/" class="active">Feed <i class="fa fa-home" aria-hidden="true"></i></a>
        <a href="/trainings/">Entrenos <i class="fa fa-book"></i></a>
        <a href="#">Nutricion <i class="fa fa-envelope"></i></a>
        <a href="#">Perfil <i class="fa fa-user"></i></a>
        {% endblock %}
        {% if user.is_authenticated %}
        <div class="right-lnk">
            <a href="/logout">logout</i></a>
        </div>
        {% else %}
        <div class="right-lnk">
            <a href="/signin">login</i></a>
        </div>
        {% endif %}
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>



    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</body>

</html>